@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.logo {
    width: 210.32px;
    height: 68px;
    transition: transform 0.5s ease-in-out;
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 30px;
    position: relative;
    justify-content: center;
}

.navbar ul {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 1.125em;
}

.navbar ul li {
    margin: 0 0 0 50px;
    list-style: none;
    text-decoration: none;
}

.logo:hover {
    transform: scale(0.8);
    transition: all 0.5s ease-in-out;
    position: relative;
}

.activeLink {
    text-decoration-color: #ff6060;
    color: #ff6060;
}

.desactiveLink {
    color: #ff6060;
    text-decoration: none;
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1240px;
}

@media screen and (max-width: 624px) {
    .header {
        padding: 10px;
    }

    .navbar ul {
        font-size: 14px;
    }

    .navbar ul li {
        margin: 0 0 0 30px;
    }

    .logo {
        width: 145px;
        height: 47px;
    }
}

@media screen and (max-width: 380px) {
    .logo {
        width: 120px;
        height: auto;
    }
}
