@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.logo {
    max-width: 200px;
    width: 100px;
    transition: transform 0.5s ease-in-out;
}

.header {
    display: flex;
    width: auto;
    align-items: center;
    padding: 30px;
    position: relative;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 1.125em;
}

.navbar ul li {
    margin: 0 0 0 50px;
    list-style: none;
    text-decoration: none;
}

.logo:hover {
    transform: scale(0.8);
    transition: all 0.5s ease-in-out;
    position: relative;
}

.navbar ul li a {
    text-decoration-color: #ffffff;
    color: #ff6060;
    transition: text-decoration-color 0.2s ease-in-out;
}

.navbar ul li a:hover {
    text-decoration: underline;
    text-decoration-color: #ff6060;
    transition: text-decoration-color 0.5s ease-in-out;
}

@media screen and (max-width: 624px) {
    .header {
        padding: 10px;
    }

    .navbar ul {
        font-size: 14px;
    }

    .navbar ul li {
        margin: 0 0 0 30px;
    }
}
