@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.Title-Error,
.Description-Error,
.LinkReturn {
    font-family: "Montserrat";
    color: #ff6060;
    text-align: center;
}

.Description-Error {
    font-size: 1.125em;
}

.Title-Error {
    font-size: 6em;
}

.LinkReturn {
    font-size: 0.875em;
    margin: 160px 0 10px 0;
}

.divblockError {
    padding: 160px 20px;
    height: auto;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 624px) {
    .Description-Error {
        font-size: 1.4em;
    }

    .Title-Error {
        font-size: 12em;
    }

    .LinkReturn {
        font-size: 1.125em;
    }

    .divblockError {
        padding: 40px 20px;
    }
}

@media screen and (min-width: 769px) {
    .Title-Error {
        font-size: 18em;
    }

    .Description-Error {
        font-size: 1.8em;
    }
}

@media screen and (min-width: 912px) {
    .Description-Error {
        font-size: 2.25em;
    }
}

